apiVersion: v1
kind: Service 
metadata:
  name: my-app-service
  namespace: dev
spec:
  selector:
    app: app
  ports:
    - protocol: TCP
      port: 8888
      targetport: 8888
  type: ClusterIP

---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: my-app-service
  namespace: dev
  labels:
    kubernetes.io/service-name: example
addressType: IPv4
ports:
  - name: http
    protocol: TCP
    port: 80
endpoints:
  - addresses:
      - "10.1.2.3"
    conditions:
      ready: true
    hostname: pod-1
    nodeName: node-1
    zone: us-west2-a
